/* Css Main */
.app__content-ticket {
    margin-top: 32px;
}
/* option-ticket-food */
.option-ticket-food {
    background-color: #f26b38;
    padding: 20px 10px 12px 10px;
    display: flex;
    flex-direction: column;
}
.option-ticket-food__heading {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 28px;
}
/* option-ticket-table */
.option-ticket-table {
    width: 100%;
    border-collapse: collapse;
}
/* table-head */
.ticket-food-table-head {
    color: #fff;

    background-color: #47251c;
    height: 36px;
}
.ticket-food-table-head th {
    font-size: 14px;
    font-weight: normal;

}
.text-align-left{
    text-align: left;
    padding-left: 10px;
}
/* table-body */
.ticket-food-table-body th {
    font-size: 14px;
    font-weight: normal;
}
.ticket-food-table-row__one {
    background-color: #f9f9f9;
    height: 60px;
}
.ticket-food-table-row__two {
    background-color: #fff;
    height: 60px;
}
.ticket-food-table-row__three {
    background-color: #f9f9f9;
    height: 60px;
}
.height-large-row {
    height: 90px;
}
.ticket-food-table-body p {
    margin-top: 6px;
}
/* table-footer */
.ticket-food-table-footer {
    background-color: #f9f9f9;
    height: 40px;
}
.ticket-food-table-footer th {
    font-size: 1.6rem;
    font-weight: normal;
    color: #f26b38;
}
.input-quantity {
    width: 28%;
    height: 30px;
    text-align: center;
    border: 1px solid rgb(187, 182, 182);
    outline: none;
    border-radius: 2px;
}
.input-quantity__ticket {
    width: 264px;
}
/* option-ticket-table*/
.option-food-table {
    width: 100%;
    border-collapse: collapse; 
}


.w-47 {
    width: 47%;
}
.table-row-col {
    display: flex;
    
}
.col__img {
    width: 100px;
    height: 66px;
    margin-left: 26px;
    margin-right: 20px;
}
.col__des {
    text-align: left;
    
}
.col__des-b {
   color: #333;
}
.col__des-p {
    font-size: 1.2rem;
}
.food-table-footer {
    background-color: #fff;
}


/* ticket-feature */
.ticket-feature {
    background-color: #f1f1f1;
}
.ticket-feature__img {
    width: 74%;
    height: auto;
    margin-left: 38px;
    margin-top: 10px;
}

/* ticket-detail */
.ticket-detail {
    padding: 0 10px 10px;
}
.ticket-detail__heading {
    font-size: 14px;
    line-height: 20px;
    color: #43464b;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 36px;
}
.ticket-detail__heading-vn {
    color: #a0a3a7 ;
}
.ticket-detail__icon {
    text-decoration: none;
    display: block;
    width: 28px;
    height: 22px;
    display: inline-block;
    background-color: #f26b38;
    background-size: cover;
    font-size: 1.4rem;
    line-height: 22px;
    color: white;
    text-align: center;
    border-radius: 1px;
}
.ticket-detail__text {
    color: #ff0033;
    padding-left: 5px;
    font-size: 11px;
}
/* ticket-info */
.ticket-info {
    margin-top: 25px;
}
.ticket-info__list {
    list-style: none;
}
.ticket-info__item {
    font-size: 1.3rem;
    border-bottom: 1px dotted #ced0da;
    padding: 10px 0;
}

.ticket-price-total p {
    margin-top: 18px;
    font-size: 1.5rem;
}
.ticket-price-total span {
    color: #f26b38;
    font-size: 2rem ;
    margin-left: 5px;
}

/* Btn-ticket */
.ticket-btn {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    padding-bottom: 10px;
}
.ticket-btn-next{
    width: 130px;
    height: 36px;
    display: block;
    text-decoration: none;
    background-color: #f26b38;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    line-height: 36px;
    letter-spacing: 1px;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}
.ticket-btn-back:hover, .ticket-btn-next:hover {
    background-color: #e26435;
}
.ticket-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


/* Responsive */
/* Moblie and Tablet */
@media only screen and (max-width: 1023px) {
    
    .ticket-feature__img {
        width: 97%;
        margin-left: 10px;
    }

}
/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   .app__content-ticket {
       padding: 5px 18px 20px;
   }
   .ticket-feature__img {
       width: 97%;
       margin-left: 10px;
   }
   .ticket-btn-next {
       width: 336px;
   }
   .input-quantity__ticket {
       width: 208px; 
   }
   .buy-ticket_main {
    padding: 0 20px;
}
}
/* Mobile */
@media only screen and (max-width: 739px) {
    .app__content-ticket {
        padding: 0 14px 20px;   
    }
    .option-ticket-food__heading {
        font-size: 1.8rem;
    }
    .ticket-feature__img {
        width: 95%;
        margin-left: 10px;
        
    }
    .ticket-btn-next {
        width: 174px;
    }
    .table-row-col {
        flex-direction: column;
    }
    .col__img {
        margin-left: 10px;
        margin-bottom: 6px;
        margin-top: 10px;
    }
    .col__des {
        font-size: 1.1rem;
        margin-left: 10px;
    }

    .col__des  .col__des-p {
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 1rem;
    }
    .w-47 {
        width: 42.6%;
    }
    .input-quantity {
        width: 40%;
        height: 30px;
    }
    .input-quantity__ticket {
        width: 98px; 
    }
    .buy-ticket_main {
        padding: 0 10px;
    }
    
}
@media only screen and (max-width: 420px) {
    .ticket-btn-payment {
        flex-direction: column;
        width: 100%;
    } 
    .ticket-btn-back-payment {
        width: 100% !important;
        
    }
    .ticket-btn-pay {
        width: 100% !important;
        margin-left: -1px !important;
        margin-top: 10px;
    }

}










