<div class="content">
    <div class="grid wide">
        <div class="row">
            <div class="col l-12">
                <h2 class="film__heading">
                    THEO PHIM

                </h2>
                <hr>
            </div>
        </div>
        <div class="row mb-select-film">
            <div class="col l-4 m-12 c-12">
                <div class="content_list">
                    <div class="content_list-heading">
                        <h4 class="content_list-title">CHỌN PHIM</h4>
                    </div>
                    <ul class="content_list-item">
                        
                    </ul>
                </div>
            </div>
            <div class="col l-4 m-12 c-12">
                <div class="content_list">
                    <div class="content_list-heading">
                        <h4 class="content_list-title">CHỌN RẠP</h4>
                    </div>
                    <ul class="select-theater-time select-theater">
                        <li>Vui lòng chọn rạp</li>
                    </ul>
                    <ul class="content_list-item-theater">
                        
                    </ul>
                </div>
            </div>
            <div class="col l-4 m-12 c-12">
                <div class="content_list">
                    <div class="content_list-heading">
                        <h4 class="content_list-title">CHỌN SUẤT</h4>
                    </div>
                    <ul class="select-theater-time select-time">
                        <li>Vui lòng chọn suất</li>
                    </ul>
                    <ul class="content_list-group-time">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/myjs_buy-ticket")